* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    position: absolute;
}

.numero {
    font-size: 1.6rem;
    padding: 8px;
    background-color: lightgray;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.numero-ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
}

#controle {
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 10;
    list-style-type: none;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.1rem;
    border-radius: 8px;
    opacity: 1;
    transition: all 0.3s;
}

#controle > li {
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

#controle > li:hover {
    background-color: rgb(239, 234, 234);
}

#controle > li.ativo {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
}

#controle > button {
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
}


